.verttab>.nav-pills{
    background-color: #BEBEBE !important;
 
}


.verttab>.nav-pills> .active{
    background-color: rgb(87, 87, 87) !important  ;
    
}

.verticaltab:hover{
    background-color: #B8B8B8
}


  
  
  
  