.myButton:hover{
    background-color: rgb(172, 67, 67) ;
}

.vertical-menu{
width: 200px;
}

.vertical-menu button {
background-color: #eee;
color: black;
display: block;
padding: 12px;
text-decoration: none;
}

.vertical-menu button:hover {
background-color: #ccc;
}

.vertical-menu button.active {
background-color: #4CAF50;
color: white;
}


.nav-link.active{
    background-color: grey !important;
}


/*added*/
.prosthikibtn{
    border-radius: 12px;
    background-color: rgb(129, 212, 131);
    margin-top: 10%;
}

.akyrwshbtn{
    border-radius: 12px;
    background-color: rgb(194, 41, 41);
    margin-top: 10%;
}

.tab-content >.a{
    border: 24px solid black !important;

}